
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1{
    text-align: center;
    color: azure;
}
h2{
    text-align: center;
}
html, body{
    
    width: 50%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: lightblue;
}
.container{
    margin-top: 100px;
    margin-left: 30px;
    width: 800px;
    max-width: 80%;
    background-color: #DE354C;
    border-radius: 15px;
    box-shadow: 10px 10px 8px black;
    border-color: black;
    padding: 10px;
}
#inputField{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    outline: none;
    position: relative;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

    vertical-align:middle;
    
}
#addTodo{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 25px;

}
.to-dos{
    margin-top: 30px;
    
}
.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}
.footer{
    margin-bottom: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: medium;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}