
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1{
    text-align: center;
    color: azure;
}
h2{
    text-align: center;
    background-color: lightblue;
}
html, body{
    font-family: 'Montserrat', sans-serif;
    background-color: lightblue;
}
.container-customised{
    background-color: lightblue;
    border-radius: 15px;
    box-shadow: 10px 10px 8px black;
    border-color: black;
}
#inputField{
    font-family: 'Montserrat', sans-serif;
}
#addTodo{
    color: white;
}
.to-dos{
    margin-top: 30px;
}
.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}
.footer{
    margin-bottom: 15px;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: medium;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}